:root {
  --color-primary:  #FFFFFF;
  --color-primary-light: rgba(57, 55, 72, 0.22);
  --color-primary-dark:rgba(57, 55, 72, 0.22);
  --color-active: #5ECE7B;
  --color-active-none: #1D1F22;
  --color-selected: #EEEEEE; }

* {
  margin: 0;
  padding: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

@media only screen and (max-width: 50%) {
  html {
    font-size: 50%; } }

body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  line-height: 1.6;
  background-image: linear-gradient(to right bottom, var(--color-primary));
  min-height: 100vh; }

.header {
  position: static;
  height: 20px;
  left: 0%;
  right: 0%;
  top: calc(50% - 20px/2 - 16px);
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase; }

.ecommerce-header {
  display: flex;
  gap: 3.2rem;
  list-style-type: none;
  font-size: 1.6rem;
  font-weight: 600; }

li:hover {
  color: var(--color-active); }

.header-nav {
  display: flex;
  position: absolute;
  margin: 2rem; }

option, option:hover {
  font-family: 'Raleway', sans-serif;
  background-color: var(--color-selected); }

select {
  position: absolute;
  width: 11.4rem;
  outline: 0rem;
  border: 0rem; }

.section {
  margin: 10rem; }
  .section__name-category {
    font-family: 'Raleway', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 4.2rem;
    line-height: 160%; }

.category {
  display: flex;
  gap: 2.5rem;
  column-gap: 2rem;
  row-gap: 1rem; }
  .category__img {
    margin: 10.3rem 0rem 0rem 0rem;
    position: relative; }
    .category__img-overlay {
      text-transform: uppercase;
      font-size: 2.4rem;
      font-family: 'Raleway', sans-serif;
      color: #8D8F9A;
      line-height: 160%;
      font-weight: 400;
      align-items: center;
      display: flex;
      position: absolute;
      left: 25.42%;
      right: 25.71%;
      top: 44.24%;
      bottom: 43.94%; }
    .category__img-size_opacity {
      width: 35.6rem;
      height: 33.8rem;
      top: -0.5rem;
      opacity: 0.5; }
    .category__img-size {
      width: 35.6rem;
      height: 33.8rem;
      top: -0.5rem; }

.item_name {
  font-size: 1.8rem;
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: 300;
  line-height: 160%;
  text-transform: none;
  display: flex;
  align-items: center; }
  .item_name__opacity {
    font-size: 1.8rem;
    opacity: 0.5;
    text-transform: none;
    color: #8D8F9A; }

.price {
  font-weight: 500;
  font-size: 1.8rem; }
  .price__opacity {
    font-weight: 500;
    font-size: 1.8rem;
    opacity: 0.5; }
