.category {
    
}
.category__img {
    &-size {
        width: 35.6rem;
        height: 33.8rem;
        top: -0.5rem;
    }
}

.overlay {
    text-transform: uppercase;
    font-size: 2.4rem;
    font-family: 'Raleway', sans-serif;
    color: #8D8F9A;
    line-height: 160%;
    font-weight: 400;
    align-items: center;
    display: flex;
}